/* //////////////////////////////////////////////////////////////////////////////////////////
ROOM STYLES */

html, body {
    background-color: #ffffff;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#gameAreaWrapper {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}

@media only screen  and (min-width : 1224px) {
#mobile {
display: none;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////
TYPEFACES */

* {
    font-family: 'Montserrat', 'Open Sans', 'San Francisco', 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////
START MENU */

#startMenuWrapper {
    z-index: 2;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}
︎
#startMenu {
    position: relative;
    margin: auto;
    text-align: center;
}

#startMenu h1 {
    font-size: 5em;
    text-align: center;
    margin: 0 auto 30px;
}

#playerNameInput {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

#playerNameInput:focus, #playerNameInput.focus {
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 3px 1px #DDDDDD;
}

#startButton, #spectateButton {
    display: block;
    margin: 10px auto 50px;
    width: 220px;
    height: 70px;
    box-sizing: border-box;
    text-align: center;
    background: #01C270;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-image: url(../img/icPlay.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px 28px;
}

#spectateButton:active, #spectateButton:hover,
#startButton:active, #startButton:hover {
    top: 1px;
    background: #55D88B;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#settings, #startMenuWrapper {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
}

#startMenu .input-error {
    color: red;
    opacity: 0;
    font-size : 12px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////
SETTINGS */

#settings {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
}

#muteAudio {
    background-color: rgba(0,0,0,0.1);
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-image: url(../img/icMicOn.png);
    background-repeat: no-repeat;
    background-size: 14px 19px;
    background-position: center center;
    margin: 10px 0 0 10px;
    border: none;
    -webkit-appearance:none;
}

#muteAudio.off {
    background-image: url(../img/icMicOff.png);
    background-size: 18px 19px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////
LEADERBOARD */

#split {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

#feed {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

#status {
    position: fixed;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    top: 0;
    right: 0;
    font-weight: bold;
    pointer-events: none;
}

#status ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#status li {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#status .dir {
    font-family: 'Fira Sans', sans-serif;
    flex: 0 0 auto;
    width: 1em;
    font-size: 0.8em;
    line-height: 24px;
    font-weight: bold;
    /* color: #FF8888; */
}

#status .title {
    font-size: 25px;
}

#status span {
    flex: 1 1 auto;
    line-height: 24px;
}
#status .me {
    color: #FF8888;
    font-size: 16.1px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////
SYSTEM MESSAGES */

.chatbox {
    position: absolute;
    width: 300px;
    /* height: 320px; */
    /* background: rgba(255, 255, 255, 0.7); */
    bottom: 5px;
    padding-bottom: 110px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
}

.chatbox .chat-list {
    padding: 5px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    /* height: 285px; */
    overflow: hidden;
}

.chatbox .chat-list li {
    padding: 2px;
    margin: 3px;
}

.chatbox .chat-list li.me b {
    color: #ea6153;
}

.chatbox .chat-list li.friend b {
    color: #2ecc71;
}

.chatbox .chat-list li.system {
    color: #9b59b6;
    font-style: italic;
}

.chatbox .chat-list li.system:before {
    content: "» ";
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
}